
.send-btn {
    background: dodgerblue;
    padding: 8px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    border: none;
}


.main-container {
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    margin-top: 32px;
    width: min(1000px, 95vw);
    background: white;
    padding: 16px;
    border-radius: 30px;
}

.qr-container {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.qr-container canvas {
    width: 100%;
}


.qr-container span {
    margin-top: 16px;
    font-weight: bold;
    white-space: pre-wrap;
    text-align: center;
}

.qr-container img {
    width: min(512px, 95%);
}

.file-container {
    display: flex;
    justify-content: space-between;
}

.stop-btn {
    background: red;
    border: 0;
    border-radius: 10px;
    padding-block: 8px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    margin-top: 48px;
}

.range-container {
    display: flex;
    margin-top: 32px;
}

.range-container > div {
    display: flex;
    align-items: center;
    gap: 9px;
    flex-grow: 1;
    margin-left: 16px;
}

.range-container input[type="range"] {
    flex-grow: 1;
}

@media screen and (max-width: 750px) {
    .file-container {
        flex-direction: column;
        gap: 16px;
    }

    .range-container {
        flex-direction: column;
        gap: 12px;
    }

    .range-container > div {
        margin-left: 0;
    }

}