
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: 16px Arial, Helvetica, sans-serif;
}

body {
    background: dodgerblue;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
    opacity: 0.5;
}

.nav-bar {
    box-sizing: border-box;
    display: flex;
    background: white;
    height: 50px;
    align-items: center;
    gap: 32px;
    padding-left: 16px;
}


.nav-bar > a {
    display: flex;
    align-items: center;
    gap: 6px;
    background: none;
    border: 0;
    text-decoration: none;
}


.nav-bar img {
    width: 42px;
    height: 42px;
}


.nav-bar span {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 18px;
    border-bottom: 2px solid lightgray;
    transition: border-bottom 0.2s ease-in-out;
}

.nav-bar a:hover span {
    border-bottom: 2px solid black;
}

.nav-bar span.active {
    border-bottom: 2px solid black;
}

@media (max-width: 500px) {
    .nav-bar {
        justify-content: center;
        gap: 16px;
    }
}

@media (max-width: 400px) {
    .nav-bar span {
        display: none;
    }

    .nav-bar {
        justify-content: center;
        gap: 48px;
    }
}
